

/*
Application: Portfolio
Author: Ryan Jones
Version: 02/02/2017
File Name: navmenu.css
*/

        
ul.topnav {
    list-style-type: none;
    padding-bottom: 30px;
    
    
}

ul.topnav li { float: right; position: relative; bottom: 45px;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover { background-color: #555; }
    
ul.topnav li.icon { display: none;}
    
@media screen and (max-width:680px) {
    ul.topnav li { display: none; }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.topnav.responsive {position: relative;}
            
    ul.topnav.responsive li.icon {
        display: none;
    }
    ul.topnav.responsive li {
        float: none;
        position: relative;
        top: 7px;
        background-color: #333;
        
        display: inline-block;
    }
            
    ul.topnav.responsive li a {
        display: block;
        padding: 10px 13px;
        text-align: center;
    }
}
    