/*
Application: Portfolio
Author: Ryan Jones
Version: 01/30/2017
File Name: styles.css
*/


/*
* Header is static, image and nav buttons are floating left and right from each other
* About btn, default button, when buttons are pressed they scroll to the correlating sections of the page (this is prbly done by having an id set to the div and using onclick() method)
* The three sections, About, Portfolio, and Contact, are all seperated using bootstrap
* The Portfolio section is using bootstrap to break the projects into rows (2 images per row)
* Contact page, has a form which uses some jquery animation
* The footer, is two parts.. 
* 1st part: About this page, made by Ryan Jones.. and github, linkedin, blog
* 2nd part: Znergy © 2017. All Rights Reversed
*/



/***** Generic *****/

html {
    
}

body {
    background-color: #333333; /* Macaroon Cream */
}

p {
    
}

h2 {
    
}

h3 {
    
}

h4 {
    
}

h5 {
    
}

.main-container {
    height: auto;
}

/***** End of Generic *****/


/***** Header *****/

.header {
    background-color: #50af33; /* Spiced Berry */
}

.headers {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
}

/* Logo */

#logo {
    
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Nav Buttons */

.navBtns {
    
}

/* Nav btn div */
#navigationBtns {
    
    float: right;
    margin-bottom: 12px;
    margin-top: 12px;
}

#btnAbout {
    
}

#btnPortfolio {
    
}

#btnContact {
    
}

/***** End of Header *****/


/***** About *****/

.about {
    background-color: #1e2e4c;
    text-align: center;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

/* main container */

.about-main-container {
    margin-top: 20px;
}

/* sub container */
.about-content-container {
    color: white;
}

/* Description */

.about-text {
    color: white;
    margin-top: 30px;
    padding-bottom: 15px;
}

/* Photo of Me */

#aboutImage {

    border: 3px solid white;
}

/***** End of About *****/


/***** Portfolio *****/

.portfolio {
    background-color: #c0c0c0;
    padding: 30px;
    height: auto;
    width: 100%;
}

/* Project container */


/* Project Images */

.projectImages {
    height: auto;
    padding: 10px;
    width: 100%;
}

.projectImages:hover {
    border: 1px solid #c0c0c0;
}

/* Project Text */

.projectText {
    
}

/* Project a */

#portfolio a {
    
}

/* H2 for Portfolio and Contact */

.headers {
    padding: 10px;
}

/***** End of Portfolio *****/


/***** Contact *****/

.contact {
    background-color: #1e2e4c;
    padding: 30px;
    color: #fff;
    height: auto;
    width: 100%;
}

.contact h2 {
    margin-right: 35px;
}
/* Form */

#contactForm {
    max-width: 300px;
    margin-top: 30px;
    margin-left: 60px;
}

.form {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    margin-bottom: 5px;
    
}

/* Message input */

#message {
    padding-bottom: 50px;
}

/* Send Button */

#btnSend {
    color: #000;
    float: left;
    margin-left: 100px;
    padding: 5px 10px;
}

/* Description */

.contact-text {
    padding-top: 20px;
}

#finalNote {
    
}

/***** End of Contact *****/


/***** Footer *****/

#footer {
    background-color: #c0c0c0;
    color: #333;
    height: 100%;
    width: 100%;
    padding: 25px;
}

/* About This Page */

#footer h3 {
    
}

#footer p {
    
}

/* Clickable Icons */

#github {
    
}

#linkedIn {
    
}

#blog {
    
}

/***** End of Footer *****/


/***** Copyright *****/

#copyright {
    background-color: #333;
    color: #fff;
    height: 100%;
    width: 100%;
}


/* All Rights Reserved */

#copyrightText {
    
}

/***** End of Copyright *****/






